Checks: >-
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  readability-*,
  -readability-identifier-naming,
  -modernize-use-trailing-return-type
WarningsAsErrors: "*"
HeaderFilterRegex: "^((?!/_deps/|/vendor/).)*$"
FormatStyle: file
